
@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.navbar {
  .navbar-inner {
    background-color: #2c2c2c;
    background-image: none;
  }
}

/* navbar */
.navbar-fixed-top {
    background-color: #ffffff;
    border-color: #ffffff;
}