// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body {
	 font-family: Impact, Charcoal, sans-serif;	font-style: normal;

}

.links:hover {
  text-decoration: none;
  background-color: #ffc266; 
}

.here {
  text-color: #ffa500;
}

h2 {
	font-size: 17pt;
}

a:visited {
  
}

.goal {
	alignment: center;
	text-align: center;
	margin-top: 20px;
}

#takestwo {
	font-size:40pt;
 font-family: Impact, Charcoal, sans-serif;	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 45.4px;
	margin-top: 10px;
	}

#developers h1, #NGOs h1, .goal h1 {
	color: #ffa500;
}

.btn {
  color: #ffffff;
  background-color: #ffa500;
  border: none;
  alignment: center;
  &:hover {
    transition: 250ms ease-in-out;
    background-color: #8c8c8c;
    .btn {
      background-color: #990000;
      color: white;
      border-color: #990000;
      transition: 250ms ease-in-out;
    }
    }
}





/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
