<div class="center jumbotron">
      <h1><%= image_tag("tangologo.png", size: '306x81') %></h1>

      <h2>It takes two to tango...</h2>

      <%= link_to "Sign Up", '#', class: "btn btn-lg btn-primary", id: "signupbtn" %>
</div>
