<div class="center">
      <h1 id="takestwo">It takes two to Tango</h1>

      <h2>a collaboration to help those who help others</h2>

      <% if user_signed_in? %>
      <%= link_to "My Projects", '/projects', class: "btn btn-lg btn-primary", id: "signupbtn" %>
      <% else %>
      <%= link_to "Sign Up", '/users/sign_up', class: "btn btn-lg btn-primary", id: "signupbtn" %>
      <% end %>
</div>

<div class="container">
  <div class="col-md-12 well goal">
	   <h1>Goal</h1>
	   Our goal is to facilitate collaboration between NGO's/non-profit organizations and developers to help with build portfolios and web-pages.
  </div>
</div>

<div class="container">


    <div id="developers" class="col-md-6">
      <div class="col-md-12 well">
       <h1>Developers</h1><br>
       As a developer, if you interested in any of the posted projects, sign up above and add yourself! This is a great way to build your portfolio and get involved with the community.
      </div>
    </div>

    <div id="NGOs" class="col-md-6">
      <div class="col-md-12 well">
      <h1>NGO's</h1><br>
      NGO's can contact us <%= link_to "here", '/contacts', class: "links", id: "herebtn" %>.  From there, we will give you credentials to post projects to our site. Once your project is posted, developers can choose to Tango with your project!
      </div>
    </div>
  </div>

</div>
