<div class="center">
      <h1>it takes two to tango...</h1>

      <h2>a collaboration to help those who help others</h2>

      <%= link_to "Sign Up", '#', class: "btn btn-lg btn-primary", id: "signupbtn" %>
</div>
